body {
    margin: 0;
}

main {
    max-width: 400px;
    margin: 0 auto;
    gap: 1rem;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: red;
}

p {
    text-align: right;
}

p.centered {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

nav a {
    padding: 20px;
    text-decoration: none;
    color: red;

}

nav a:hover {
    text-decoration: none;
    border: none;
    color: black;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    border-top: 2px orange solid;
    border-bottom: 2px orange solid;
}

footer {
    text-align: center;
    border-top: 2px orange solid;

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
}

@media (min-width: 700px) {
    main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: start;
        gap: 1rem;
        max-width: 1000px;
    }

    .book-info-left {
        grid-column: 1;
        text-align: right;
        padding-right: 1rem;
        margin: 1rem;
        border-right: 2px solid orange;
    }

    .book-info-right {
        grid-column: 2;
    }

    .book-info-right h2 {
        text-align: center;
    }

    .book-info-right img {
        display: block;
        margin: 0 auto;
    }

    .book-info-right p.centered {
        text-align: left;
    }
}