body {
    font-size: 1.2em;
}

h1 {
    text-align: center;
}

h2 {
    font-size: medium;
}

label {
    display: block;
    margin-bottom: 8px;
}

form {
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto 40px auto;
    gap: 10px;
}

#CreditCardBlack {
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: black;
    height: 50px;
    margin: 0 -20px;
    margin-top: -20px;
}

#CreditCardFront {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
    z-index: 3;
}

.total {
    grid-column: 1 / 3;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#creditCardLabel {
    grid-column: 1 / 3;
    grid-row: 2;
    margin-bottom: 0;
}

#creditCardNumber {
    grid-column: 1 / 3;
    grid-row: 3;
}

#creditCardNumberContainer {
    grid-column: 1 / 3;
    grid-row: 4;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    margin: 0;
}

#creditCardNumberContainer label[for="fullName"] {
    grid-column: 1;
    grid-row: 1;
}

#fullName {
    grid-column: 1;
    grid-row: 2;
}

#creditCardNumberContainer label[for="expirationDate"] {
    grid-column: 2 / 4;
    grid-row: 1;
}

#month {
    grid-column: 2;
    grid-row: 2;
}

#year {
    grid-column: 3;
    grid-row: 2;
}

#CreditCardBack {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto auto;
    padding: 20px;
    padding-top: 40px;
    background-color: #e8e8e8;
    border-radius: 8px;
    z-index: 1;
    margin-top: 30px;
}

#CreditCardBack label {
    grid-column: 2;
    grid-row: 2;
    align-self: end;
    margin-bottom: 5px;
    justify-self: end;
    margin-right: 10px;
}

#cvv {
    grid-column: 2;
    grid-row: 3;
    width: 80px;
    align-self: start;
    justify-self: end;
    margin-right: 10px;
}

button {
    grid-column: 3;
    grid-row: 4;
    justify-self: center;
    width: fit-content;
    padding: 10px 30px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.errors {
    white-space: pre-line;
    color: red;
}

.hide {
    display: none;
}