body {
    font-family: Palatino Linotype, sans-serif;
    background: #f0f4f8;
}

.card {
    background: #313131;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
    width: 400px;
}

main {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.image {
    width: 400px;
    height: 300px;
    border-radius: 15px 15px 0 0;
}

#noah-card {
    display: none;
    background-color: navy;
}

.card img {
    width: 400px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

#dave-name {
    font-size: 1.5em;
    font-weight: bold;
    margin: -4px 0 20px 0;
    color: white;
    padding: 15px 0 15px 35px;
    background-color: #5d747b;
}

#noah-name {
    font-size: 1.5em;
    font-weight: bold;
    margin: -4px 0 20px 0;
    color: white;
    padding: 15px 0 15px 35px;
    background-color: darkgoldenrod;
}

.stats {
    margin: 10px 15px 7px 35px;
    text-align: left;
}

.stats p {
    margin: 5px 0;
    color: #f0f4f8;
}

.buttons {
    text-align: center;
}

button {
    padding: 8px 12px;
    margin: 20px;
    border: none;
    border-radius: 8px;
    background-color: #5d747b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease;
}


#noah-attack-btn {
    padding: 8px 12px;
    margin: 20px;
    border: none;
    border-radius: 8px;
    background-color: darkgoldenrod;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#noah-levelup-btn {
    padding: 8px 12px;
    margin: 20px;
    border: none;
    border-radius: 8px;
    background-color: darkgoldenrod;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#challenge-btn {
    width: 300px;
    height: 300px;
    padding: 8px 12px;
    margin: 20px;
    border: none;
    border-radius: 100%;
    background-image: linear-gradient(to bottom, red, black, red);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease;
}


#challenge-btn {
    background: linear-gradient(270deg, red, black, red);
    background-size: 400% 400%;
    transition: background-position 0.5s ease;
}

#challenge-btn:hover {
    animation: GradientShift 4s ease infinite;
}

@keyframes GradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


button:hover {
    background-color: #58605a;
}