@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.description {
    display: none;
}


body {
    max-width: 350px;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Amatic SC;
    font-size: 50px;
}

#logo {
    width: 100px;
    height: auto;
}

#recipe-img {
    width: 300px;
    height: auto;
}

#searching {
    width: 20px;
    height: auto;
    border-left: 2px solid black;
    padding: 10px;
    margin: 4px 0;
}

#search {
    flex: 1;
    border: none;
    padding: 10px;
    outline: none;
}

label {
    display: flex;
    justify-content: flex-end;
    border: 2px solid black;
    border-radius: 5px;
}

h2 {
    color: aqua;
    font-family: Amatic SC;
    font-size: 25px;
    margin: 0;
}

.NewRecipe {
    display: flex;
    flex-direction: column;
    margin: 12px 0;
    border: 2px solid black;
    padding: 8px;

}

.recipe-contents {
    padding: 8px;

}


.social {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.social img {
    width: 40px;
    height: auto;
}

#link {
    display: flex;
    justify-content: flex-start;
}


@media (min-width: 700px) {
    .description {
        display: block;
    }

    body {
        max-width: 1200px;
        margin: auto;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-family: Amatic SC;
        font-size: 100px;
    }

    #logo {
        width: 150px;
        height: auto;
    }

    .recipe-img {
        width: 400px;
        height: auto;
    }

    #searching {
        width: 30px;
        height: auto;
        border-left: 2px solid black;
        padding: 10px;
        margin: 4px 0;
    }

    #search {
        flex: 1;
        border: none;
        padding: 10px;
        outline: none;
    }

    label {
        display: flex;
        justify-content: flex-end;
        border: 2px solid black;
        border-radius: 5px;
    }

    h2 {
        color: aqua;
        font-family: Amatic SC;
        font-size: 50px;
        margin: 0;
    }

    .NewRecipe {
        display: flex;
        justify-content: start;
        flex-direction: row;
        margin: 12px 0;
        border: 2px solid black;
        padding: 8px;

    }

    .recipe-contents {
        padding: 8px;

    }

    .social {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;

    }

    .social img {
        width: 40px;
        height: auto;
    }

    #link {
        display: flex;
        justify-content: flex-start;
    }



}